<footer class="footer">
  <div class="footer-top-line"></div>

  <div class="footer-top wrapper">
    <div class="footer-links">
      <div class="links-col">
        <h4>boom.stats</h4>
        <ul>
          <li><a routerLink="/stats">estadísticas</a></li>
          <li><a routerLink="/stats2">top</a></li>
          <li><a routerLink="/recommendations">música</a></li>
          <li><a routerLink="/concerts">conciertos</a></li>
        </ul>
      </div>
      <div class="links-col">
        <h4>developer.spotify</h4>
        <ul>
          <li><a href="https://developer.spotify.com/documentation/web-api" target="_blank">web‑api</a></li>
          <li><a href="https://developer.spotify.com/community">community</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-brand">
      <img src="assets/img/logo_boomstats3.png" alt="Boom Stats®" class="brand-logo">
      <div class="social-icons">
        <a href="https://github.com/oscarhval/boom-stats"><img src="assets/img/github.png"   alt="GitHub"></a>
        <a href="https://open.spotify.com/intl-es/"><img src="assets/img/spotify.png"  alt="Spotify"></a>
        <a href="https://www.linkedin.com/in/ohernandezv/"><img src="assets/img/linkedin.png" alt="LinkedIn"></a>
        <a href="https://gitlab.com/oscarhval"><img src="assets/img/gitlab.png"   alt="GitLab"></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="wrapper">
      <small>© 2025 BoomStats (via Spotify for Developers from Spotify). All rights reserved.</small>
      <div class="lang-select">
        Español (España) <span class="arrow">▼</span>
      </div>
    </div>
  </div>
</footer>
