* {
    box-sizing: border-box;
  }

  html, body {
    background: #111;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  app-root {
    display: block;
    min-height: 100vh;
    background: #111;
  }

  body.no-footer app-footer,
  body.no-footer footer {
  display: none !important;
}
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
  }
  

